.main {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-color: hsl(218, 100%, 97%);
}

@media (max-width: 768px) {
  .main {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: hsl(218, 100%, 97%);
  }
}
