.next-btn {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  width: 130px;
  height: 50px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
  margin-left: auto;
}
.next-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.wizard-main-content .footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  font-size: 16px;
  outline: none;
  border: none;
}
.back-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
