.form-container {
  width: 900px;
  max-width: 95%;
  background-color: #ffffff;

  border-radius: 10px;
}
.wizard-main {
  padding: 20px;
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 600px;
}
.wizard-card {
  background-color: #ffffff;
  padding: 24px;
  border-right: 1px solid #e0e0e0;
  background-image: url("src/assets/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.wizard-content {
  background-color: #ffffff;
  padding: 32px;
}
