.form-container {
  width: 900px;
  max-width: 95%;
  background-color: #ffffff;

  border-radius: 10px;
}
.wizard-main {
  padding: 20px;
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 600px;
}
.wizard-card {
  background-color: #ffffff;
  padding: 24px;
  background-image: url("src/assets/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.wizard-content {
  background-color: #ffffff;
  padding: 32px;
}
.wizard-main-content h3 {
  font-weight: 100;
  font-size: 16px;
  color: hsl(231, 11%, 63%);
  margin-bottom: 50px;
}
.wizard-main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wizard-main-content h2 {
  font-size: 30px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .wizard-card {
    background-color: #ffffff;
    background-image: url("src/assets/bg-sidebar-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
  .wizard-main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(218, 100%, 97%);
  }
  .wizard-content {
    background-color: transparent;
    padding: 0;
    width: 85%;
  }
  .form-container {
    width: 100%;
    max-width: 100%;
  }
  .main {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: hsl(218, 100%, 97%);
  }
  .wizard-main-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
  }

  .next-btn {
    margin-top: 10px;
    width: 100px;
    height: 45px;
  }
}
