.grid-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 200px;
  background-color: #fff;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  cursor: pointer;
}
.grid-card.selected {
  border-color: hsl(213, 96%, 18%);
}
.grid-card img {
  width: 45%;
}
.grid-card .card-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-top: auto;
  font-weight: 500;
  text-align: left;
}
.grid-card .card-text span:nth-child(1) {
  color: hsl(213, 96%, 18%);
  font-size: 16px;
}
.grid-card .card-text span:nth-child(2) {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
