.thankyou-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.thankyou-container span {
  font-size: 40px;
  font-weight: bold;
}
